.container {
  width: 1200px;
margin: 0 auto;
  background: #ffffff;
}
body {
  width: 100%;
  margin: 0 auto;
  background: #f2f2f2;
      text-transform:uppercase;
      background-position: top;
      letter-spacing: 1px;
}
.navigation {
  width: 1200px;
  padding-bottom: 30px;
}
ul {
  display: flex;
  padding: 0;
}
li {
  list-style-type: none;
  font-weight: bold;
}
li a {
  text-decoration: none;
  color: black;
  padding-left: 50px;
  padding-right: 60px;
  font-size: 14px;
  font-family: "PT Sans", Arial, sans-serif;
}
.navigation li {
  display: block;
  width: 240px;
  margin-top:21px;
}
.navigation li:nth-child(2){
  margin-right: 240px;
}
.navigation a:hover {
  color:  #95bed8;
}
.navigation a:active {
  color:  #cacaca;
}
.navigation .active {
  color:  #827167;
}
.navigation .active:hover {
  color:  #dcd9d8;
}
.navigation .active:active {
  color:  #e5e3e1;
}
.logo {
  z-index: 2;
  position:absolute;
  top:15px;
  left:45%;
  margin-left: 0px;
}
.intro-image {
  position:relative;
  margin-top: -30px;
    background-image: url('../img/mountains.jpg');
    background-repeat: no-repeat;
      background-size: 1200px 509px;
      height: 509px;
      padding-top: 450px;
}
.welcome {
position: absolute;
top: 76px;
left: 372px;
}
.intro-image::after {
content: "";
background-image: url('../img/icons/bottom.png');
background-repeat: no-repeat;
background-size: 1200px 62px;
display:block;
height: 62px;
z-index: 10;
}
.features {
  display: flex;
  margin: 0 auto;
  align-items: flex-start;
}
.features h2 {
  font-size: 21px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
}
.features-item:first-child h2 {
  width: 128px;
  padding-left: 139px;
}
.features-item:last-child h2 {
  width: 162px;
  padding-left: 124px;
}
.features span {
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: regular;
}
.features p {
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: regular;
}
.features-blue:first-child p {
  padding-left: 62px;
  width: 315px;
}
.features-blue:last-child p {
  width: 305px;
  padding-left: 48px;
}
.features-grey:first-child p {
  padding-left: 62px;
  width: 315px;
}
.features-grey:nth-child(2) p {
  padding-left: 62px;
  width: 315px;
}
.features-grey:nth-child(2) h2 {
  padding-left: 150px;
  width: 100px;
}
.features-grey:last-child p {
  width: 305px;
  padding-left: 48px;
}
.advantage h2 {
  font-size: 21px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
}
.advantage span {
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
}
.features-image {
  width: 800px;
}
.features-item {
padding-top: 42px;
padding-bottom: 46px;
}
.features-blue {
  width: 400px;
  text-align: center;
  background: #81b3d2;
  color: white;
}
.features-grey {
  width: 400px;
  text-align: center;
  background: #eeeeee;
  margin-top: -5px;
}
.intro-text {
  margin-top: -350px;
  width: 1200px;
  text-align: center;
  padding-left: 20px;
  margin-bottom: 58px;
}
.intro-text h2 {
  font-size: 21px;
font-family: "PT Sans", Arial, sans-serif;
font-weight: bold;
width: 500px;
padding-left: 380px;
}
.intro-text p {
  font-size: 14px;
font-family: "PT Sans", Arial, sans-serif;
font-weight: regular;
}
.advantage {
  width: 1200px;
  display: flex;
}
.advantages-item {
  width: 400px;
  text-align: center;
  padding-top: 59px;
  padding-bottom: 86px;
}
.search {
  text-align: center;
  line-height: 2;
}
.search h3 {
  padding-top: 53px;
  font-size: 30px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
}
.search p {
  padding-bottom: 51px;
  font-size: 14px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: regular;
  width: 490px;
  padding-left: 383px;
}
.search a {
  width: 500px;
  color: white;
  margin-top: 54px;
  background: #766357;
  padding-top: 32px;
  padding-bottom: 34px;
  padding-left: 131px;
  padding-right: 131px;
  text-decoration: none;
  font-size: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
}
.map {
  text-align: center;
  width: 100%;
  margin-top: 27px;
}
.table {
  position: absolute;
  margin-left: 321px;
  background: white;
  padding-top: 55px;
  padding-left: 48px;
  padding-bottom: 55px;
  padding-right: 52px;
}
label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: bold;
}
input {
  font-size: 14px;
font-family: "PT Sans", Arial, sans-serif;
background-color: #f2f2f2;
  }
input:hover {
  background-color: #ebebeb;
}
input:active {
  background-color: #ffffff;
}
input[type="text"] {

    margin-bottom:10px;
    padding: 2px 5px;
    border: 1px solid #cccccc;
}
label:first-child {
  width: 345px;
}
.map input[type="submit"] {
    display: inline-block;
    margin: 0 5px;
    padding: 17px 196px;
    color: #ffffff;
    background-color: #81b3d2;
    border: none;
    font-size: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
}
.map input[type="submit"]:hover {
  background-color: #669ec0;
}
.map input[type="submit"]:active {
  background-color: #5496bd;
}
.direction {
  width: 1200px;
  display: flex;
  justify-content: space-around;
}
.direction a {
  font-size: 21px;
font-family: "PT Sans", Arial, sans-serif;
font-weight: bold;
}
.hashtag {
  width: 400px;
    padding-top: 50px;
    padding-bottom: 52px;
}
.hashtag a {
  text-decoration: none;
  color: black;
}
.hashtag a:first-child {
  margin-left: 132px;
}
.hashtag a:last-child {
  margin-right: 102px;
}
.links {
    margin: 0 auto;
    padding: 35px;
}
.links a{
  text-decoration: none;
}
.social {
    display: inline-block;
    background-color: #81b3d2;
    margin-right: 10px;
    vertical-align: middle;
}
.social:hover {
  background-color: #669ec0;
}
.social:active {
  background-color: #5496bd;
}
.links a:first-child {
  padding: 16px 12px 13px 14px;
}
.links a:nth-child(2) {
  padding: 13px 18px 14px 17px;
}
.links a:last-child {
  padding: 16px 13px 16px 13px;
}
.htmllogo:hover {
  background-color: #81b3d2;
}
.htmllogo:active {
  background-color: #bdbbbc;
}
.advantages {
  width: 1200px;
  display: flex;
padding-top: 30px;
color: white;
padding-bottom: 32px;
line-height: 24px;
background-image: url('../img/background-mountains.jpg');
background-repeat: no-repeat;
  background-size: 1200px 217px;
  margin-top: -30px;
}
.advantages h2 {
  font-size: 16px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
}
.advantages input {
  font-size: 14px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: regular;
color: white;
}
.advantages input {
  color: white;
}
input:checked {
  background: white;
}
.utilities {
  width: 220px;
  padding-left: 80px;
}
.utilities label {
  width: 112px;
}
.hotel {
  width: 1200px;
  display: flex;
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 30px;
  padding-top: 30px;
}
.name {
  width: 780px;
}
.name a {
  text-decoration: none;
}
.name h1 {
  font-size: 21px;
font-family: "PT Sans", Arial, sans-serif;
line-height: 16px;
font-weight: bold;
}
.name h1 a {
    color: #000000;
}
.name h1 a:hover {
    color: #81b3d2;
}
.name h1 a:active {
    color: #cacaca;
}
.price-hotel span {
  color: #766357;
  font-size: 14px;
font-family: "PT Sans", Arial, sans-serif;
line-height: 20px;
font-weight: regular
}
.hotel-image {
  width: 165px;
  padding-top: 13px;
}
.sorting {
  box-sizing: border-box;
  width: 1200px;
  display: flex;
 color: #766357;
 padding-bottom: 32px;
 padding-top: 31px;
 padding-right: 71px;
}
.sorting h3 {
  font-size: 21px;
font-family: "PT Sans", Arial, sans-serif;
}
.sorting span {
  font-size: 12px;
font-family: "PT Sans", Arial, sans-serif;
}
.sorting a {
  font-size: 12px;
font-family: "PT Sans", Arial, sans-serif;
}
.value {
  padding-top: 65px;
}
.fourstars {
  position: absolute;
right: 95px;
  bottom: 190px;
}
.twostars {
  position: absolute;
right: 95px;
  bottom: 15px;
}
.threestars {
  position: absolute;
right: 95px;
  bottom: -150px;
}
.detail {
  background: #81b3d2;
  padding: 10px;
  text-decoration: none;
  line-height: 3;
  margin-right: 10px;
  width: 109px;
  color: white;
  font-size: 14px;
font-family: "PT Sans", Arial, sans-serif;
font-weight: bold;
}
.detail:hover {
  background: #669ec0;
}
.detail:active {
  background: #5496bd;
}
.reserve {
  background: #766357;
  padding: 10px;
  text-decoration: none;
  line-height: 3;
  width: 134px;
  color: white;
  font-size: 14px;
font-family: "PT Sans", Arial, sans-serif;
font-weight: bold;
}
.reserve:hover {
  background: #604e43;
}
.reserve:active {
  background: #503e33;
}
.rating {
  width: 111px;
  color: #766357;
  background: #eeeeee;
  padding-left: 18px;
  padding-right: 13px;
  padding-top: 7px;
  padding-bottom: 9px;
  text-decoration: none;
  line-height: 3;
  font-size: 14px;
font-family: "PT Sans", Arial, sans-serif;
font-weight: bold;
}
.result {
  width: 165px;
  color: black;
  padding-left: 72px;
}
.result h3 {
  font-size: 21px;
font-family: "PT Sans", Arial, sans-serif;
font-weight: bold;
}
.assortment {
  width: 780px;
padding-top: 23px;
font-size: 12px;
font-family: "PT Sans", Arial, sans-serif;
font-weight: regular;
}
.assortment .active {
  text-decoration: none;
  color: #bad3e5;
  margin-left: 20px;
  margin-right: 20px;
}
.link-brown {
  text-decoration: none;
  border-bottom: 1px dotted #000;
  color: #dadada;
  margin-right: 20px;
}
.link-brown:hover {
  color: #81b3d2;
}
.link-brown:active {
  color: #000000;
}
.arrow {
  width: 111px;
}
.triangle-up {
  width: 0;
height: 0;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-bottom: 10px solid #cccccc;
position: absolute;
right: 108px;
bottom: 305px;
   }
.triangle-up:hover {
    color: #000000;
  }
.triangle-up:active {
      color: #81b3d2;
    }
.triangle-down {
   	width: 0;
   	height: 0;
   	border-left: 5px solid transparent;
   	border-right: 5px solid transparent;
   	border-top: 10px solid #81b3d2;
    position: absolute;
    right: 95px;
    bottom: 305px;
   }
.services {
  width: 1200px;
  display: flex;
}
.housing {
  width: 25%;
}
@font-face {
  font-family: PT Sans;
  src: url(img/fonts/ptsanz.ttf);
}
