body {
  font-size: : 100%;
}
.navigation {
  display: flex;
  justify-content: space-around;
}
.features {
  display: flex;
}
.intro-image {
  display: flex;
  margin-left: 80px;
}
.welcome {
  margin-left: -770px;
  margin-top: 60px;
}
.bottom {
  margin-top: 565px;
  margin-left: -842px;
}
.advantages {
  display: flex;
}
.adress {
  display: flex;
  justify-content: space-around;
}
.hotel {
  display: flex;
}
.sorting {
  display: flex;
}
