html, body {
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  margin: 0 auto;
  text-transform: uppercase;
  background: #f2f2f2;
  background-position: top;
}

header {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.container {
  min-width: 1200px;
  margin: 0 auto;
  margin-left: 40px;
  margin-right: 45px;
  background: #ffffff;
  box-shadow: 0 0 15px 5px #dbdbdb;
}

.navigation {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

ul {
  width: 103.4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding-left: 0px;
}

li {
  width: 20%;
  padding-top: 18px;
  padding-bottom: 50px;
  font-weight: bold;
  list-style-type: none;
}

li a {
  font-size: 14px;
  font-family: "PT Sans", Arial, sans-serif;
  text-decoration: none;
  color: black;
}

.navigation li:first-child {
  margin-left: -6px;
  margin-right: -6px;
}

.navigation li:nth-child(2) {
  padding-right: 230px;
}

.navigation a:hover {
  color: #95bed8;
}

.navigation a:active {
  color: #cacaca;
}

.navigation .active {
  color: #978a83;
}

.navigation .active:hover {
  color: #604e43;
}

.navigation .active:active {
  color: #dbd8d5;
}

.logo {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 2;
  width: 139px;
  margin: auto;
  margin-top: -88px;
}

.intro-image {
  position: relative;
  max-width: 100%;
  height: auto;
  margin-top: -30px;
  padding-top: 448px;
  background: #77bafc url("../img/mountains.jpg") no-repeat;
  background-size: 1200px 512px;
}

.welcome {
  position: absolute;
  top: 76px;
  left: 370px;
  width: 465px;
}

.intro-image::after {
  z-index: 10;
  display: block;
  height: 64px;
  content: "";
  background: url("../img/bottom.png");
  background-repeat: no-repeat;
  background-size: 1200px 65px;
}

.intro-text {
  max-width: 100%;
  margin-top: 58px;
  text-align: center;
}

.intro-text h2 {
  max-width: 43%;
  padding-left: 340px;
  margin-top: -4px;
  font-size: 21px;
  font-weight: bold;
  line-height: 25px;
  font-family: "PT Sans", Arial, sans-serif;
}

.intro-text p {
  max-width: 46%;
  margin-top: 35px;
  margin-bottom: 55px;
  padding-left: 322px;
  font-size: 14px;
  font-family: "PT Sans", Arial, sans-serif;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.features-image {
  width: 67%;
  height: auto;
  line-height: 0;
  background-color: #fba650;
}

.features-item {
  width: 34%;
  padding-bottom: 53px;
}

.features-blue {
  text-align: center;
  color: #ffffff;
  background: #81b3d2;
}

.features-grey {
  padding-top: -15px;
  text-align: center;
  background: #eeeeee;
}

.features h2 {
  margin-top: 35px;
  padding-top: 22px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
}

.features-item:first-child {
  padding-bottom: 36px;
}

.features-item:first-child h2 {
  max-width: 128px;
  padding-left: 135px;
}

.features-item:last-child h2 {
  max-width: 162px;
  padding-left: 120px;
  padding-bottom: 5px;
}

.features-grey h2 {
  padding-top: 15px;
}

.features-grey:nth-child(2) h2 {
  max-width: 90px;
  padding-left: 150px;
}

.features span {
  font-size: 14px;
  line-height: 25px;
  font-family: "PT Sans", Arial, sans-serif;
}

.features p {
  font-size: 14px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
}

.features-blue:first-child p {
  max-width: 301px;
  margin-left: 47px;
  margin-top: 23px;
  margin-bottom: 16px;
}

.features-grey:first-child p {
  max-width: 220px;
  padding-left: 88px;
  padding-top: 8px;
  margin-bottom: 22px;
}

.features-grey:nth-child(2) p {
  max-width: 270px;
  padding-left: 62px;
  padding-top: 8px;
  margin-bottom: 5px;
}

.features-grey:last-child p {
  max-width: 305px;
  padding-left: 48px;
  padding-top: 3px;
  margin-bottom: 5px;
}

.features-blue:last-child p {
  max-width: 305px;
  padding-left: 45px;
  padding-top: 5px;
  margin-bottom: -2px;
}

.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}

.advantage h2 {
  font-size: 21px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
}

.advantage span {
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
}

.advantages-item {
  width: 33%;
  padding-top: 85px;
  padding-bottom: 80px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.advantages-item h2 {
  padding-top: 41px;
  padding-bottom: 6px;
}

.house {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  font-size: 0;
  vertical-align: middle;
}

.house::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75px;
  height: 72px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -414px;
}

.meat {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  font-size: 0;
  vertical-align: middle;
}

.meat::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 74px;
  height: 70px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -565px;
}

.souvenir {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  font-size: 0;
  vertical-align: middle;
}

.souvenir::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 76px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -937px;
}

.search {
  text-align: center;
}

.search h3 {
  max-width: 25%;
  margin-bottom: 22px;
  margin-top: 55px;
  margin-left: 448px;
  font-size: 30px;
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
}

.search p {
  padding-bottom: 32px;
  padding-left: 5px;
  font-size: 14px;
  line-height: 1.8;
  font-family: "PT Sans", Arial, sans-serif;
}

.search a {
  box-sizing: border-box;
  display: inline-block;
  max-width: 568px;
  margin-left: 0px;
  padding-top: 32px;
  padding-bottom: 30px;
  padding-left: 139px;
  padding-right: 138px;
  font-size: 21px;
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
  text-decoration: none;
  color: #ffffff;
  background: #766357;
}

.map {
  text-align: center;
  max-width: 100%;
  margin: 0px auto;
  padding-left: 50%;
}

iframe {
  margin-left: -600px;
  border-color: #008000;
}

.table {
  box-sizing: border-box;
  position: absolute;
  max-width: 568px;
  padding-top: 65px;
  padding-bottom: 57px;
  padding-right: 55px;
  padding-left: 40px;
  margin-left: -284px;
  font-weight: bold;
  background: #ffffff;
}

.map label {
  font-size: 14px;
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
}

label[for="adults"] {
  margin-right: 36px;
  margin-left: 12px;
}

label[for="children"] {
  margin-right: 20px;
  margin-left: 48px;
}

.map input {
  font-size: 14px;
  font-weight: 900;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  background-color: #f2f2f2;
  border: none;
}

.form-data {
  display: inline-block;
  float: right;
  padding-top: 10px;
  padding-right: 185px;
  padding-bottom: 8px;
  padding-left: 13px;
  margin-top: -10px;
  margin-bottom: 25px;
  margin-left: 8px;
}

input[id="search"] {
  margin-top: -4px;
  margin-left: 14px;
  padding: 18px 196px;
  font-size: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  background-color: #81b3d2;
  color: #ffffff;
}

input[value="0"] {
  width: 8px;
  padding: 9px 15px;
  margin-right: -5px;
  margin-left: -5px;
}

input[value="2"] {
  width: 8px;
  padding: 9px 15px;
  margin-left: -5px;
  margin-right: -5px;
}

input:hover {
  background-color: #ebebeb;
}

input:active {
  background-color: #ffffff;
}

input[id="search"]:hover {
  background-color: #669ec0;
}

input[id="search"]:active {
  background-color: #5496bd;
}

input[type="text"]:focus {
  background-color: #ffffff;
  outline: none;
  border: 1px solid #e5e5e5;
}

button {
  width: 40px;
  padding-top: 36px;
  background-color: #f2f2f2;
  border: none;
}

button:hover {
  background-color: #ebebeb;
}

button:active {
  background-color: #ffffff;
}

.date-grey {
  display: block;
  margin-bottom: 47px;
  margin-top: -20px;
  margin-left: 442px;
}

.amount {
  display: inline-block;
  margin-bottom: 58px;
  margin-top: -12px;
}

.minus {
  position: relative;
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
}

.minus::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 12px;
  height: 3px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -701px;
}

.minus:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 12px;
  height: 3px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -655px;
}

.minus:active::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 12px;
  height: 3px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -678px;
}

.plus {
  position: relative;
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
}

.plus::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 11px;
  height: 11px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -786px;
}

.plus:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 11px;
  height: 11px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -724px;
}

.plus:active::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 11px;
  height: 11px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -755px;
}

.map a {
  position: relative;
  display: block;
  font-size: 0;
  vertical-align: middle;
}

.map a::before {
  display: block;
  content: "";
  width: 21px;
  height: 22px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -237px;
}

.map a:hover::before {
  display: block;
  content: "";
  width: 21px;
  height: 22px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -153px;
}

.map a:active::before {
  display: block;
  content: "";
  width: 21px;
  height: 22px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -195px;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  height: auto;
  margin-top: -30px;
  padding-top: 14px;
  padding-bottom: 18px;
  line-height: 22px;
  color: #ffffff;
  background-image: url("../img/background-mountains.jpg");
  background-repeat: no-repeat;
  background-size: 100% 217px;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

.advantages h2 {
  font-size: 16px;
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
}

.advantages input {
  font-size: 16px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #ffffff;
}

.advantages label {
  padding-top: 1px;
  font-size: 14px;
  line-height: 25px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+label {
  position: relative;
  display: block;
  margin-bottom: 20px;
  padding-left: 40px;
  cursor: pointer;
}

input[type="checkbox"]+label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -111px;
}

input[type="checkbox"]:checked+label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 22px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -69px;
}

input[type="checkbox"]:disabled+label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  background-image: url("../img/sprite1.png");
  background-repeat: no-repeat;
  background-position: -10px -52px;
}

input[type="checkbox"]:checked:disabled+label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 22px;
  background-image: url("../img/sprite1.png");
  background-repeat: no-repeat;
  background-position: -10px -10px;
}

.housing input[type="checkbox"]+label {
  padding-left: 36px;
}

.housing input[type="checkbox"]+label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  width: 22px;
  height: 22px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -111px;
}

.housing input[type="checkbox"]:checked+label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  width: 26px;
  height: 22px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -69px;
}

.housing input[type="checkbox"]:disabled+label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  width: 22px;
  height: 22px;
  background-image: url("../img/sprite1.png");
  background-repeat: no-repeat;
  background-position: -10px -52px;
}


/*.checkbox {
                    display: inline-block;
                    margin-right: -20px;
                    vertical-align: middle;
                    width: 21px;
                    height: 22px;
                    font-size: 0;
                    position: relative;
                }
.checkbox::before {
                content: "";
                position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  background-image: url("../img/sprite.png");
                  background-repeat: no-repeat;
                  width: 26px;
                  height: 22px;
                  background-position: -10px -69px;
                }
.pool::before {
    width: 26px;
    height: 22px;
  background-position: -10px -69px;
                }
.wifi::before {
  width: 22px;
  height: 22px;
  background-position: -10px -111px;
}
.parking::before {
  width: 22px;
  height: 22px;
  background-position: -10px -111px;
}
.hostel::before {
    width: 26px;
    height: 22px;
  background-position: -10px -69px;
                }
.motel::before {
    width: 26px;
    height: 22px;
    background-position: -10px -69px;
    }
.apartaments::before {
      width: 26px;
      height: 22px;
      background-position: -10px -69px;
  }*/


/*.checkbox input[type="checkbox"]+ .checkbox-indicator {
  position: absolute;
  top: -3px;
  left: -20px;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  border-radius: 5px;
}
.checkbox input[type="checkbox"]:checked+ .checkbox-indicator::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 1px;
  width: 11px;
  height: 4px;
  background-color: #ffffff;
}
.checkbox input[type="checkbox"]:checked+ .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 5px;
  width: 22px;
  height: 4px;
  background-color: #ffffff;
}
.checkbox input[type="checkbox"]:checked+ .checkbox-indicator::before {
  transform: rotate(45deg);
}
.checkbox input[type="checkbox"]:checked+ .checkbox-indicator::after {
  transform: rotate(-45deg);
}
.checkbox input[type="checkbox"]+ .checkbox-indicator:hover {
  border: 2px solid #ffffff;
}
.checkbox input[type="checkbox"]:checked+ span:hover:before,
 .checkbox input[type="checkbox"]:checked+ span:hover:after {
  background-color: #ffffff;
}
.checkbox input[type="checkbox"]:disabled {
  background: #6a6a6a;
}*/

.utilities {
  width: 18%;
  padding-left: 70px;
}

.utilities h2 {
  margin-left: 0px;
  margin-bottom: 20px;
}

.housing h2 {
  margin-left: -5px;
  margin-bottom: 23px;
}

.housing {
  padding-left: 45px;
}

.price {
  width: 26%;
  margin-top: 17px;
  margin-left: 177px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-left: -8px;
  margin-top: -3px;
  margin-bottom: 9px;
  font-size: 14px;
  font-weight: 60;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 32px;
  width: 314px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  transform: translate(-50%, -50%);
  background: #ffffff;
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 28px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price, .price-controls .max-price {
  padding-left: 46px;
}

.price-controls span {
  padding-left: 16px;
  margin-right: -15px;
}

.price-controls input {
  width: 65px;
  height: 10px;
  padding-top: -10px;
  margin: 0;
  font: inherit;
  color: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  margin-left: 85px;
  margin-bottom: 30px;
  padding: 6px 100px 6px 34px;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.btn-transparent:focus {
  background-color: transparent;
  color: white;
}

.hotel {
  box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 18px;
  padding-bottom: 14px;
  border-bottom: 1px solid #e5e5e5;
}

.hotel:first-of-type {
  border-top: 1px solid #e5e5e5;
}

.hotel:first-of-type span:last-child {
  padding-left: 20px;
}

.hotel:nth-of-type(2) {
  margin-top: -5px;
}

.hotel:nth-of-type(2) span:first-child {
  margin-right: 60px;
}

.hotel:last-of-type {
  margin-top: -3px;
  margin-bottom: 10px;
}

.hotel:last-of-type span:first-child {
  margin-right: 17px;
}

.name {
  width: 65%;
}

.name a {
  text-decoration: none;
}

.name h1 {
  margin-left: 3px;
  font-size: 21px;
  font-weight: bold;
  line-height: 15px;
  font-family: "PT Sans", Arial, sans-serif;
}

.name .link-black {
  color: #000000;
}

.name .link-black:hover {
  color: #81b3d2;
}

.name .link-black:active {
  color: #cacaca;
}

.price-hotel span {
  margin-right: 20px;
  margin-left: 2px;
  font-size: 14px;
  line-height: 8px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #766357;
}

.price-hotel:last-of-type span {
  margin-right: 15px;
}

.hotel-image {
  max-width: 100%;
  height: auto;
  margin-right: 28px;
  margin-top: 13px;
  margin-bottom: 18px;
  line-height: 0;
  background-color: #0080ff;
}

.sorting {
  box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 71px;
  margin-top: -7px;
  color: #766357;
}

.sorting h3 {
  font-size: 21px;
  font-family: "PT Sans", Arial, sans-serif;
}

.sorting span {
  font-size: 12px;
  font-family: "PT Sans", Arial, sans-serif;
}

.sorting a {
  font-size: 12px;
  font-family: "PT Sans", Arial, sans-serif;
}

.detail {
  margin-right: 8px;
  margin-left: 2px;
  padding: 6px 16px 5px 15px;
  font-size: 14px;
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
  text-decoration: none;
  color: #ffffff;
  background: #81b3d2;
}

.detail:hover {
  background: #669ec0;
}

.detail:active {
  color: #94b9d2;
  background: #5496bd;
}

.reserve {
  margin-left: -3px;
  padding: 6px 15px 5px 18px;
  font-size: 14px;
  font-weight: bold;
  line-height: 60px;
  font-family: "PT Sans", Arial, sans-serif;
  text-decoration: none;
  color: #ffffff;
  background: #766357;
}

.reserve:hover {
  background: #604e43;
}

.reserve:active {
  color: #827872;
  background: #503e33;
}

.value {
  width: 10%;
  padding-left: 92px;
}

.rating {
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 3px;
  font-size: 14px;
  line-height: 3;
  font-family: "PT Sans", Arial, sans-serif;
  text-decoration: none;
  color: #666666;
  background: #f2f2f2;
}

.fourstars {
  position: relative;
  display: inline-block;
  width: 88px;
  height: 17px;
  margin-left: 26px;
  margin-bottom: 40px;
  margin-top: 12px;
  font-size: 0;
  vertical-align: middle;
}

.fourstars::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 89px;
  height: 17px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -318px;
}

.twostars {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 17px;
  margin-top: 14px;
  margin-bottom: 40px;
  margin-left: 73px;
  font-size: 0;
  vertical-align: middle;
}

.twostars::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 42px;
  height: 17px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -1105px;
}

.threestars {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 17px;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 49px;
  margin-top: 12px;
  font-size: 0;
  vertical-align: middle;
}

.threestars::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65px;
  height: 17px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -1033px;
}

.result {
  width: 165px;
  padding-left: 70px;
  padding-top: 3px;
  color: #000000;
}

.result h3 {
  font-size: 21px;
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
}

.assortment {
  width: 65%;
  padding-top: 31px;
  padding-bottom: 33px;
  font-size: 12px;
  font-family: "PT Sans", Arial, sans-serif;
}

.assortment .active {
  margin-left: 37px;
  margin-right: 30px;
  text-decoration: none;
  color: #a8c9df;
}

.assortment a:active {
  color: #000000;
  border-bottom: none;
}

.link-brown {
  margin-right: 30px;
  text-decoration: none;
  color: #cacaca;
  border-bottom: 1px dotted #bad3e5;
}

.link-brown:hover {
  color: #a8c9df;
}

.arrow {
  position: relative;
  display: inline-block;
  width: 21px;
  height: 22px;
  margin-left: 117px;
  margin-top: 28px;
  font-size: 0;
  vertical-align: middle;
}

.arrow .active {
  color: #81b3d2;
}

.pointerup {
  position: relative;
  display: inline-block;
  width: 11px;
  height: 10px;
  margin-top: 8px;
  margin-left: 12px;
  font-size: 0;
  vertical-align: middle;
}

.pointerup::before {
  content: "";
  display: inline-block;
  top: 50%;
  left: 50%;
  width: 11px;
  height: 10px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -907px;
}

.pointerdown {
  position: relative;
  display: inline-block;
  width: 11px;
  height: 10px;
  margin-left: 35px;
  margin-top: -10px;
  font-size: 0;
  vertical-align: middle;
}

.pointerdown::before {
  content: "";
  display: inline-block;
  top: 50%;
  left: 50%;
  width: 11px;
  height: 10px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -877px;
}

.pointerup:hover::before {
  content: "";
  display: inline-block;
  top: 50%;
  left: 50%;
  width: 11px;
  height: 10px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -817px;
}

.pointerup:active::before {
  content: "";
  display: inline-block;
  top: 50%;
  left: 50%;
  width: 11px;
  height: 10px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -847px;
}


/*
.arrow a:hover .triangle-up {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #000000;
}
.arrow a:hover .triangle-down {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #81b3d2;
}
.arrow a:active .triangle-up {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #81b3d2;
}
.arrow a:active .triangle-down {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #81b3d2;
}*/

.services {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.housing {
  width: 25%;
}


/* footer */

.direction {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 36px;
  text-align: center;
}

.hashtag {
  width: 33%;
  padding-top: 12px;
}

.hashtag a:first-of-type {
  padding-top: -30px;
  font-size: 21px;
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
  text-decoration: none;
  color: #000000;
}

.hashtag span {
  padding-right: 135px;
  font-size: 14px;
  font-weight: normal;
  font-family: "PT Sans", Arial, sans-serif;
  text-decoration: none;
  color: #000000;
}

.direction .hashtag span {
  padding-left: 10px;
}

.direction .htmllogo {
  margin-left: 180px;
}

.htmllogo {
  position: relative;
  width: 112px;
  height: 39px;
  margin-left: 178px;
  margin-top: -30px;
  font-size: 0;
  vertical-align: middle;
}

.htmllogo::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.htmllogo {
  width: 113px;
  height: 39px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -506px;
}

.htmllogo:hover {
  width: 113px;
  height: 39px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -10px;
}

.htmllogo:active {
  width: 113px;
  height: 39px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -355px;
}

.links {
  width: 400px;
  margin: 0 auto;
  margin-top: 0px;
}

.links a {
  text-decoration: none;
}

.social {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 0;
  vertical-align: middle;
  background-color: #81b3d2;
}

.social::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.social-tw::before {
  width: 17px;
  height: 15px;
  background-position: -10px -1070px;
}

.social-fb::before {
  width: 10px;
  height: 19px;
  background-position: -10px -279px;
}

.social-yt::before {
  width: 20px;
  height: 16px;
  background-position: -10px -1142px;
}

.social:hover {
  background-color: #669ec0;
}

.social:active {
  background-color: #5496bd;
}

.links a:first-child {
  padding: 15px 11px 13px 14px;
}

.links a:nth-child(2) {
  padding: 14px 12px 14px 14px;
}

.links a:last-child {
  padding: 14px 13px 14px 13px;
}


/* значения footer для index */

.direction-index {
  box-sizing: border-box;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 36px;
  margin-top: -125px;
  text-align: center;
  background-image: url("../img/whitebottom.jpg");
  background-repeat: no-repeat;
  background-size: 1200px 120px;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

.direction-index .links {
  margin-right: 87px;
}

.direction-index .hashtag {
  margin-right: 13px;
}

.direction-index span {
  margin-right: 130px;
}

.direction-index .htmllogo {
  margin-left: 110px;
}


/* Sprites */

.sprite {
  display: block;
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
}

.sprite-disabled {
  width: 26px;
  height: 22px;
  background-position: -10px -10px;
}

.sprite-disabledempty {
  width: 22px;
  height: 22px;
  background-position: -10px -52px;
}

.sprite-blue-html {
  width: 113px;
  height: 39px;
  background-position: -10px -10px;
}

.sprite-check {
  width: 26px;
  height: 22px;
  background-position: -10px -69px;
}

.sprite-check-empty {
  width: 22px;
  height: 22px;
  background-position: -10px -111px;
}

.sprite-date-black {
  width: 21px;
  height: 22px;
  background-position: -10px -153px;
}

.sprite-date-blue {
  width: 21px;
  height: 22px;
  background-position: -10px -195px;
}

.sprite-date-grey {
  width: 21px;
  height: 22px;
  background-position: -10px -237px;
}

.sprite-facebook {
  width: 10px;
  height: 19px;
  background-position: -10px -279px;
}

.sprite-fourstars {
  width: 89px;
  height: 17px;
  background-position: -10px -318px;
}

.sprite-grey-html {
  width: 113px;
  height: 39px;
  background-position: -10px -355px;
}

.sprite-house {
  width: 75px;
  height: 72px;
  background-position: -10px -414px;
}

.sprite-htmlacademy {
  width: 113px;
  height: 39px;
  background-position: -10px -506px;
}

.sprite-meat {
  width: 74px;
  height: 70px;
  background-position: -10px -565px;
}

.sprite-minus-black {
  width: 12px;
  height: 3px;
  background-position: -10px -655px;
}

.sprite-minus-blue {
  width: 12px;
  height: 3px;
  background-position: -10px -678px;
}

.sprite-minus-grey {
  width: 12px;
  height: 3px;
  background-position: -10px -701px;
}

.sprite-plus-black {
  width: 11px;
  height: 11px;
  background-position: -10px -724px;
}

.sprite-plus-blue {
  width: 11px;
  height: 11px;
  background-position: -10px -755px;
}

.sprite-plus-grey {
  width: 11px;
  height: 11px;
  background-position: -10px -786px;
}

.sprite-pointerblack {
  width: 11px;
  height: 10px;
  background-position: -10px -817px;
}

.sprite-pointerblue {
  width: 11px;
  height: 10px;
  background-position: -10px -847px;
}

.sprite-pointerdown {
  width: 11px;
  height: 10px;
  background-position: -10px -877px;
}

.sprite-pointerup {
  width: 11px;
  height: 10px;
  background-position: -10px -907px;
}

.sprite-souvenir {
  width: 64px;
  height: 76px;
  background-position: -10px -937px;
}

.sprite-threestars {
  width: 65px;
  height: 17px;
  background-position: -10px -1033px;
}

.sprite-twitter {
  width: 17px;
  height: 15px;
  background-position: -10px -1070px;
}

.sprite-twostars {
  width: 42px;
  height: 17px;
  background-position: -10px -1105px;
}

.sprite-youtube {
  width: 20px;
  height: 16px;
  background-position: -10px -1142px;
}
